@import "./utils/constants.scss";

.bg_img {
    background-image: url('../images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

html {
    @extend .bg_img;    
    height: fit-content;
    
}
*{
    font-family:$font_family;
    direction: $direction;

}