@import "./utils/constants.scss";
@import './contact-us.component.scss';
@import './app.component.scss';
*{
    box-sizing: border-box
}

.input-container{
    width: 100%;
        padding: pxToRem(12px) pxToRem(20px);
        margin-top: 1rem;
        border: 1px solid #E0E0E0;
}

form{    
    input {
        @extend .input-container;
        
    }
    
    input[type=submit]:valid{
        @extend .input-container;
        background-color: $color_pink;
        color: $color_white;
    }
    
    input[type=submit]:invalid{
        @extend .input-container;
        background-color: $color_blue;
        color: $color_white;     
    }
    .select-input{
        @extend .input-container;
        
    }
    
}