@import "./utils/constants.scss";
@import "./utils/functions.scss";
@import "./utils/mixins.scss";

.container{
    @include display(row);
    align-items: flex-start;
    column-gap: 1rem;
    background: linear-gradient(to right, $color_white 80%, $color_black 20%);
    background-color: $color_white;
    border-radius: pxToRem(50px);
    margin: 4rem 4rem;
    padding: 2rem 4rem;

    div{
        
        @include display(row);
        margin: 3% 3%;        
        img {
            width: 100%;
            height: 100%;
        }

    }

    div { 
        @include display(column);
        align-items: flex-start;
        h1{
            margin-bottom: 0;
            span{
                color: $color_pink;
            }
        }
        app-contact-form{
         width: 100%;   
        }
        div{
            column-gap: 2rem;
            width: 100%;
            align-items: center;
            @include display(row);

        }

        
    }
}

