
@import "./utils/constants.scss";
@import "./utils/mixins.scss";
@import "./utils/functions.scss";

div{
    display: flex;
    flex-direction: row;
    margin-right: 2%;

    img{
        height: pxToRem(40px);
        align-self: center;
        margin-right: 1rem;
    }

    div{
        margin-bottom: 0;
        flex-direction: column;
        p:first-child{
            color: $color_black;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            margin-top: 0;
            margin-bottom: 0;
        }
        p:last-child{
            color: $color_pink;
            white-space: nowrap;
            margin-bottom: 0;
        }
    }
    
}