<div class="container">
    <div>
        <b><h1>Get in <span> touch </span></h1></b>
        <p>Enim tempor eget pharetra facilisis sed maecenas adipiscing. Eu leo molestie vel, ornare non id blandit netus.</p>
        <app-contact-form (formOut)="submit($event)"></app-contact-form>
        <div>
            <app-contact-card icon_url="../assets/images/phone.png" contact="03 5432 1234" type="Phone"></app-contact-card>
            <app-contact-card icon_url="../assets/images/fax.png" contact="03 5432 1234" type="Fax"></app-contact-card>
            <app-contact-card icon_url="../assets/images/email.png" contact="info@marcc.com.au" type="Email"></app-contact-card>
        </div>
    </div>
    <div>
        <img src="../assets/images/location.png" alt="">
    </div>
</div>
