<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <input type="text" name="name" placeholder="Name*" formControlName="name">
    <br>
    <input type="text" name="email" placeholder="Email" formControlName="email">
    <br>
    <input type="text" name="phone" placeholder="Phone number*" formControlName="phone">
    <br>
    <select  class="select-input" name="findus" formControlName="findus">
        <option value="" disabled selected hidden >How did you find us?</option>
        <option value="Twitter">Twitter</option>
        <option value="Youtube">Youtube</option>
        <option value="Friends or Family">Friends or Family</option>
    </select>
    <br>
    <input type="Submit"  value="Submit" [disabled]="registerForm.invalid">
</form>
