@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Primary Colors
$color_black: #183A4A;
$color_blue: #193A4B;
$color_pink: #DD5470;
$color_white: #FFFFFF;

// Font Family
$font_family: 'Montserrat';

// Direction
$direction: ltr;